
<div class="main-footer mg-t-auto">
    <div class="container-fluid">
        <span>Copyright &copy; 2020 <a href="#">Nixlot</a>. Designed by <a href="https://www.spruko.com/">Spruko</a> All rights reserved.</span>
    </div>
</div>
