<!DOCTYPE html>
@{

    ViewData["Title"] = "Letter";


    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/richtext/src/site.css" rel="stylesheet" />
    <link href="~/richtext/src/richtext.min.css" rel="stylesheet" />






</head>
<body>


    <div class="page-wrapper box-content" id="DivLetter" onchange="GetHTml()">

        <textarea class="content" name="example"></textarea>

    </div>
    <script src="~/richtext/src/jquery.min.js"></script>

    <script src="~/richtext/src/jquery.richtext.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.content').richText();
            // document.querySelectorAll('#DivLetter textarea').forEach(function (input) {
            //     input.addEventListener('change', function () {

            //     });


            // })
            // $('.richText-editor').bind('DOMNodeInserted DOMNodeRemoved', function (e) {
            //     console.log(e);
            // });
        });



        function GetHTml() {
            var divs = document.querySelectorAll('.richText-editor');
            divs.forEach(function (div) {
                console.log(div.innerHTML);
            });
        }
    </script>

</body>
</html>