USE [master]
GO
/****** Object:  Database [WorkFlow2]    Script Date: 9/10/2024 3:04:28 PM ******/
CREATE DATABASE [WorkFlow2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkFlow2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WorkFlow2.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WorkFlow2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WorkFlow2_log.ldf' , SIZE = 16576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkFlow2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkFlow2]
GO
/****** Object:  UserDefinedTableType [dbo].[TBAppLevel]    Script Date: 9/10/2024 3:04:29 PM ******/
CREATE TYPE [dbo].[TBAppLevel] AS TABLE(
	[ApplicationId] [int] NULL,
	[Application_Level_Id] [int] NULL,
	[NodeID] [nvarchar](max) NULL,
	[Application_Level_Name] [nvarchar](max) NULL,
	[Column_Name_Value] [nvarchar](max) NULL,
	[Tools_Id] [nvarchar](max) NULL,
	[Is_Required] [nvarchar](max) NULL,
	[Shared_Table_Id] [nvarchar](max) NULL,
	[DisplaylinkId] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[FnSearchEmp]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSearchEmp]
(@SearchP NVARCHAR (MAX))
RETURNS 
    @RT TABLE (
        [EmployeeID]         INT            NOT NULL,
        [Employee_Name]      NVARCHAR (50)  NULL,
        [IDNumber]           NVARCHAR (50)  NULL,
        [NT_User]            NVARCHAR (50)  NULL,
        [MilitaryRank_ID]    INT            NULL,
        [Military_Rank_Name] NVARCHAR (50)  NULL,
        [CivilRankID]        INT            NULL,
        [CivilRankName]      NVARCHAR (50)  NULL,
        FullName             NVARCHAR (MAX),
        [IP]                 NVARCHAR (MAX),
        [SwitchIP]           NVARCHAR (MAX),
        [Department]         NVARCHAR (MAX),
        [Section]            NVARCHAR (MAX),
        [Building]           NVARCHAR (MAX),
        [Floor]              NVARCHAR (MAX),
        [Room]               NVARCHAR (MAX),
        LastRequestID        NVARCHAR (MAX),
        MobileNo             NVARCHAR (MAX),
        ExtensionNo          NVARCHAR (MAX))
AS
BEGIN
    DECLARE @TremData AS NVARCHAR (MAX) = UPPER(RTRIM(LTRIM(@SearchP)));
    INSERT INTO @RT
    SELECT a.[EmployeeID],
           [Employee_Name],
           [IDNumber],
           [NT_User],
           [MilitaryRank_ID],
           [Military_Rank_Name],
           [CivilRankID],
           [CivilRankName],
           UPPER(CONVERT (NVARCHAR (MAX), [IDNumber]) + ' ' + [NT_User] + ' ' + [Employee_Name]),
           [IP],
           [SwitchIP],
           [Department],
           [Section],
           [Building],
           [Floor],
           [Room],
           [RequestID],
           MobileNo,
           ExtensionNo
    FROM   [MMS].[dbo].[Employees] AS a
           LEFT OUTER JOIN
           [MMS].[dbo].[EmpLocation] AS b
           ON a.EmployeeID = b.[EmployeeID]
              AND b.[ISLast] = 1
    WHERE  UPPER(CONVERT (NVARCHAR (MAX), [IDNumber]) + ' ' + [NT_User] + ' ' + [Employee_Name]) LIKE '%' + @TremData + '%';
    RETURN;
END

GO
/****** Object:  Table [dbo].[Actions]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ActionID] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](50) NOT NULL,
	[ActionInUSe] [bit] NOT NULL,
	[ActionNameArabic] [nvarchar](50) NOT NULL,
	[MoveNext] [bit] NOT NULL,
	[SuspendIn] [bit] NOT NULL,
	[IsSpecial] [bit] NOT NULL,
	[ForApplication_Id] [int] NULL,
 CONSTRAINT [PK_Action] PRIMARY KEY CLUSTERED 
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationLable]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLable](
	[ApplicationLableId] [int] IDENTITY(1,1) NOT NULL,
	[FromApplicationLevelId] [int] NOT NULL,
	[ToApplicationLevelId] [int] NOT NULL,
	[fromPort] [nvarchar](50) NULL,
	[toPort] [nvarchar](50) NULL,
	[position] [float] NULL,
	[content] [float] NULL,
	[templateId] [nvarchar](50) NULL,
	[movex] [int] NULL,
	[movey] [int] NULL,
	[text] [varchar](50) NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_ApplicationLable] PRIMARY KEY CLUSTERED 
(
	[ApplicationLableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationLink]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLink](
	[ApplictionLinkId] [int] IDENTITY(1,1) NOT NULL,
	[FromTApplicationLevelId] [int] NOT NULL,
	[ToApplicationLevelId] [int] NOT NULL,
	[templateId] [varchar](50) NOT NULL,
	[length] [float] NOT NULL,
	[InUse] [bit] NULL,
	[ActionID] [int] NULL,
	[AnyOne] [bit] NULL,
	[MustAll] [bit] NULL,
	[ChangeActionID] [int] NULL,
 CONSTRAINT [PK_ApplicationLink] PRIMARY KEY CLUSTERED 
(
	[ApplictionLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationProcuderDetail]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationProcuderDetail](
	[ProcuderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[ColumnName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProcuderDetail] PRIMARY KEY CLUSTERED 
(
	[ProcuderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Level_Assigned]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Level_Assigned](
	[Application_Level_Assigned_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[Assigned_To_Emp_Id] [int] NULL,
	[Assigned_To_Manager_Type_Id] [int] NULL,
	[Assigned_In_Use] [bit] NULL,
	[Cr_Date] [datetime] NULL,
	[Cr_Emp_Id] [nvarchar](128) NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_Application_Level_Assigned] PRIMARY KEY CLUSTERED 
(
	[Application_Level_Assigned_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Levels]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Levels](
	[Application_Level_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Id] [int] NULL,
	[Archives_master_Id] [int] NULL,
	[Application_Level_Name] [varchar](50) NOT NULL,
	[Application_Level_Index] [int] NOT NULL,
	[Can_Show_Attach] [bit] NOT NULL,
	[Can_End_Request] [bit] NOT NULL,
	[Can_Return] [bit] NOT NULL,
	[Can_Reject] [bit] NOT NULL,
	[Can_Conversion] [bit] NOT NULL,
	[Application_Level_InUse] [bit] NULL,
	[Application_Level_Up_Date] [date] NULL,
	[Application_Level_Up_EmpId] [int] NULL,
	[ProcuderName] [nvarchar](50) NULL,
	[TBName] [nvarchar](50) NULL,
	[Notification] [nvarchar](50) NULL,
	[HiddenLevel] [bit] NULL,
	[x] [float] NULL,
	[y] [float] NULL,
	[fill] [nvarchar](max) NULL,
	[templateId] [nvarchar](max) NULL,
	[NodeID] [int] NULL,
	[HTMLBody] [nvarchar](max) NULL,
 CONSTRAINT [PK_Application_Levels] PRIMARY KEY CLUSTERED 
(
	[Application_Level_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Requirement]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Requirement](
	[Application_Requirement_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[Application_Id] [int] NULL,
	[Archives_master_Id] [int] NULL,
	[Column_Name_Value] [varchar](50) NOT NULL,
	[Tools_Id] [int] NOT NULL,
	[Is_Required] [bit] NOT NULL,
	[Shared_Table_Id] [int] NULL,
	[Application_Requirement_In_Use] [bit] NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [int] NOT NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [int] NULL,
	[In_Start] [bit] NULL,
	[DisplaylinkId] [int] NULL,
	[FixId] [nvarchar](50) NULL,
	[FnRun] [nvarchar](50) NULL,
	[DisplayIndex] [int] NULL,
	[UseMin] [bit] NULL,
 CONSTRAINT [PK_Application_Requirement] PRIMARY KEY CLUSTERED 
(
	[Application_Requirement_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Requirement_Details]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Requirement_Details](
	[Application_Req_Details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[App_Req_D_Value] [varchar](50) NOT NULL,
	[Application_Req_Details_In_Use] [bit] NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [int] NOT NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [int] NULL,
 CONSTRAINT [PK_Application_Requirement_Details] PRIMARY KEY CLUSTERED 
(
	[Application_Req_Details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Application_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Name_Eng] [varchar](50) NOT NULL,
	[Application_Name_Ar] [varchar](50) NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Section_Id] [int] NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [nvarchar](128) NOT NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [nvarchar](128) NULL,
	[Application_In_Use] [bit] NOT NULL,
	[SystemInfoId] [int] NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Application_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archives_master]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archives_master](
	[Archives_master_Id] [int] IDENTITY(1,1) NOT NULL,
	[Archives_master_Name] [nvarchar](50) NOT NULL,
	[Archives_master_Note] [text] NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Cr_UserId] [nvarchar](128) NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Archives_master_Active] [bit] NULL,
	[Up_UserId] [nvarchar](128) NULL,
	[up_Date] [datetime] NULL,
 CONSTRAINT [PK_Archives_master] PRIMARY KEY CLUSTERED 
(
	[Archives_master_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentDetail]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentDetail](
	[AttachmentDetailId] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentId] [int] NOT NULL,
	[AttachPath] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[CrDate] [datetime] NULL,
	[Cr_EmpId] [int] NULL,
 CONSTRAINT [PK_AttachmentDetail] PRIMARY KEY CLUSTERED 
(
	[AttachmentDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentMaster]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentMaster](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[Cr_EmpID] [int] NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_AttachmentMaster] PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentsType]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentsType](
	[AttachTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AttachTypeName] [nvarchar](50) NOT NULL,
	[InUse] [bit] NOT NULL,
 CONSTRAINT [PK_AttachmentsType] PRIMARY KEY CLUSTERED 
(
	[AttachTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check_List_Details]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check_List_Details](
	[Check_List_Details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[Request_ID] [int] NOT NULL,
	[Check_List_Value] [int] NOT NULL,
 CONSTRAINT [PK_Check_List_Details] PRIMARY KEY CLUSTERED 
(
	[Check_List_Details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepManager]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepManager](
	[DepManagerId] [int] IDENTITY(1,1) NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Employe_Id] [int] NOT NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_DepManager] PRIMARY KEY CLUSTERED 
(
	[DepManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_Id] [int] IDENTITY(1,1) NOT NULL,
	[DIVISIONID] [int] NOT NULL,
	[Department_Name_Eng] [varchar](50) NULL,
	[STATUS_ID] [int] NULL,
	[DEPT_CRE_UID] [int] NULL,
	[DEPT_CRE_DATE] [date] NULL,
	[Department_Name_Ar] [varchar](50) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisplayLink]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisplayLink](
	[DisplaylinkId] [int] IDENTITY(1,1) NOT NULL,
	[DisplaylinkName] [nvarchar](max) NOT NULL,
	[DisplaylinkInUse] [bit] NOT NULL,
	[DisplayFunction] [nvarchar](50) NULL,
 CONSTRAINT [PK_DisplayLink] PRIMARY KEY CLUSTERED 
(
	[DisplaylinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[Employe_Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](50) NULL,
	[MIDDLENAME] [varchar](50) NULL,
	[LASTNAME] [varchar](50) NULL,
	[ADDRESS] [varchar](50) NULL,
	[TELEPHONE] [varchar](50) NULL,
	[EMAILADDRESS] [varchar](50) NULL,
	[BIRTHDATE] [date] NULL,
	[CRDATE] [date] NULL,
	[UserId] [nvarchar](128) NULL,
	[BLOODTYPEID] [int] NULL,
	[PHOTO] [varchar](50) NULL,
	[MINISTRYCARDNO] [varchar](50) NULL,
	[MINISTRYCARDTYPE_Id] [int] NULL,
	[EMPLOYEE_NO] [varchar](50) NULL,
	[CompId] [int] NULL,
	[MINISTRYCARDNO_Expire] [date] NULL,
	[Nationality_Id] [int] NULL,
	[MINISTRYCARDNO_From] [varchar](50) NULL,
	[Relative_Person_One_Name] [varchar](50) NULL,
	[RelationOne] [nvarchar](50) NULL,
	[Relative_Person_Two_Name] [varchar](50) NULL,
	[Relative_Person_One_Tel] [varchar](50) NULL,
	[RelationTwo] [nvarchar](50) NULL,
	[Relative_Person_Two_Tel] [varchar](50) NULL,
	[GENDER_ID] [int] NULL,
	[EMPLOYMENT_DATE] [date] NULL,
	[Cr_UserId] [nvarchar](128) NULL,
	[Cr_Date] [datetime] NULL,
	[Passport_No] [nvarchar](50) NULL,
	[Passport_End_Date] [date] NULL,
	[National_address] [nvarchar](50) NULL,
	[Border_Number] [nvarchar](50) NULL,
	[Arabic_Name] [nvarchar](50) NULL,
	[Social_status_Id] [int] NULL,
	[Identity_Profession] [nvarchar](50) NULL,
	[Identity_Location] [nvarchar](50) NULL,
	[Identity_Card_End_Date] [date] NULL,
	[Religion_Id] [int] NULL,
	[Mobile] [nvarchar](50) NULL,
	[GOSINo] [nvarchar](50) NULL,
	[AttendNo] [int] NULL,
	[HRPolicy] [bit] NULL,
	[FNameAr] [nvarchar](50) NULL,
	[MNameAr] [nvarchar](50) NULL,
	[LNameAr] [nvarchar](50) NULL,
	[HealthInsurance] [nvarchar](50) NULL,
	[NationalAddress] [nvarchar](50) NULL,
	[GradeId] [int] NULL,
 CONSTRAINT [PK_EMPINFO] PRIMARY KEY CLUSTERED 
(
	[Employe_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinkCondation]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkCondation](
	[LinkCondationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplictionLinkId] [int] NOT NULL,
	[ActionID] [int] NOT NULL,
	[AnyOne] [bit] NOT NULL,
	[MustAll] [bit] NOT NULL,
	[ChangeActionID] [int] NULL,
 CONSTRAINT [PK_LinkCondation] PRIMARY KEY CLUSTERED 
(
	[LinkCondationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManagerType]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerType](
	[ManagerTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ManagerTypeName] [nvarchar](50) NOT NULL,
	[InUse] [bit] NOT NULL,
 CONSTRAINT [PK_ManagerType] PRIMARY KEY CLUSTERED 
(
	[ManagerTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationAppId] [int] NOT NULL,
	[NotificationSubject] [nvarchar](max) NOT NULL,
	[NotificationBody] [nvarchar](max) NULL,
	[SendEmail] [bit] NULL,
	[CrDate] [datetime] NULL,
	[CrEmpID] [int] NULL,
	[ControllerName] [nvarchar](50) NULL,
	[PageName] [nvarchar](50) NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationApp]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationApp](
	[NotificationAppId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationAppName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NotificationApp] PRIMARY KEY CLUSTERED 
(
	[NotificationAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifier]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifier](
	[NotifierId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationId] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDate] [datetime] NULL,
	[IsSend] [bit] NULL,
 CONSTRAINT [PK_Notifier] PRIMARY KEY CLUSTERED 
(
	[NotifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelativeType]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelativeType](
	[Relative_TypeId] [int] IDENTITY(1,1) NOT NULL,
	[RelativeTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RelativeType] PRIMARY KEY CLUSTERED 
(
	[Relative_TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Application_Id] [int] NULL,
	[Assigned_From_Emp_Id] [int] NULL,
	[Request_Status_Id] [int] NULL,
	[Request_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
	[Is_End] [bit] NULL,
	[Is_Complate] [bit] NULL,
	[Complate_Date] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedUser] [nvarchar](128) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details](
	[Request_Details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[Request_ID] [int] NULL,
	[S_Application_Req_Details_Id] [int] NULL,
	[S_Shared_Table_Id] [int] NULL,
	[S_Shared_Table_Id_Value] [int] NULL,
	[S_Value] [text] NULL,
	[S_Date] [datetime] NULL,
	[Request_Level_Id] [int] NULL,
 CONSTRAINT [PK_Request_Details] PRIMARY KEY CLUSTERED 
(
	[Request_Details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details_Attach]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details_Attach](
	[Request_Details_Attach_Id] [int] IDENTITY(1,1) NOT NULL,
	[Request_ID] [int] NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[Request_Details_Attach_Path] [varchar](max) NOT NULL,
	[Request_Details_Attach_Name] [varchar](max) NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [int] NOT NULL,
	[Request_Level_Id] [int] NULL,
	[Request_Details_Id] [int] NULL,
 CONSTRAINT [PK_Request_Details_Attach] PRIMARY KEY CLUSTERED 
(
	[Request_Details_Attach_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details_Status]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details_Status](
	[Request_Details_Status_Id] [int] NOT NULL,
	[Request_Details_Status_Eng] [varchar](50) NOT NULL,
	[Request_Details_Status_Ar] [varchar](50) NOT NULL,
	[Retrun] [bit] NOT NULL,
	[Reject] [bit] NOT NULL,
	[Complete] [bit] NOT NULL,
	[Conversion] [bit] NOT NULL,
 CONSTRAINT [PK_Request_Details_Status] PRIMARY KEY CLUSTERED 
(
	[Request_Details_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Level]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Level](
	[Request_Level_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NULL,
	[Request_ID] [int] NULL,
	[Assigned_To_Emp_Id] [int] NULL,
	[Assigned_Date] [datetime] NULL,
	[Request_Details_Status_Id] [int] NULL,
	[Conversion_To_Emp_Id] [int] NULL,
	[Action_Date] [datetime] NULL,
	[In_Use] [bit] NULL,
 CONSTRAINT [PK_Request_Level] PRIMARY KEY CLUSTERED 
(
	[Request_Level_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Level_Assigned]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Level_Assigned](
	[Request_Level_Assigned_Id] [int] IDENTITY(1,1) NOT NULL,
	[Assigned_To_UserID] [int] NOT NULL,
	[Request_Level_Id] [int] NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
 CONSTRAINT [PK_Request_Level_Assigned] PRIMARY KEY CLUSTERED 
(
	[Request_Level_Assigned_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Status]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Status](
	[Request_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Request_Status_Eng] [varchar](50) NOT NULL,
	[Request_Status_Ar] [varchar](50) NOT NULL,
	[In_Start] [bit] NOT NULL,
	[In_End] [bit] NOT NULL,
 CONSTRAINT [PK_Request_Status] PRIMARY KEY CLUSTERED 
(
	[Request_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Section_Id] [int] IDENTITY(1,1) NOT NULL,
	[Section_Name_Eng] [nvarchar](50) NOT NULL,
	[DEPT_ID] [int] NOT NULL,
	[Section_In_Use] [bit] NULL,
	[Cr_UserId] [nvarchar](128) NULL,
	[Cr_Date] [datetime] NULL,
	[Up_UserId] [nvarchar](128) NULL,
	[Up_Date] [datetime] NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Section_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shared_Table]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shared_Table](
	[Shared_Table_Id] [int] IDENTITY(1,1) NOT NULL,
	[Shared_Table_Name] [varchar](50) NOT NULL,
	[Shared_Table_Column] [varchar](50) NOT NULL,
	[Shared_Table_Value] [varchar](50) NOT NULL,
	[Shared_Table_Name_displayed] [varchar](50) NOT NULL,
	[InUSe] [bit] NULL,
 CONSTRAINT [PK_Shared_Table] PRIMARY KEY CLUSTERED 
(
	[Shared_Table_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemInfo]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemInfo](
	[SystemInfoId] [int] IDENTITY(1,1) NOT NULL,
	[SystemInfoName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SystemInfo] PRIMARY KEY CLUSTERED 
(
	[SystemInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbApplication]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbApplication](
	[TbApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[TbApplicationName] [nvarchar](50) NOT NULL,
	[TbApplicationInUse] [bit] NOT NULL,
 CONSTRAINT [PK_TbApplication] PRIMARY KEY CLUSTERED 
(
	[TbApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tools]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tools](
	[Tools_Id] [int] IDENTITY(1,1) NOT NULL,
	[Tool_Name] [varchar](50) NOT NULL,
	[Tool_In_Use] [bit] NOT NULL,
	[From_DataBase] [bit] NOT NULL,
	[Img_Url] [varchar](50) NULL,
	[Tool_value] [varchar](50) NULL,
 CONSTRAINT [PK_Tools] PRIMARY KEY CLUSTERED 
(
	[Tools_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([ActionID], [ActionName], [ActionInUSe], [ActionNameArabic], [MoveNext], [SuspendIn], [IsSpecial], [ForApplication_Id]) VALUES (1, N'Approve', 1, N'يعتمد', 1, 0, 0, NULL)
INSERT [dbo].[Actions] ([ActionID], [ActionName], [ActionInUSe], [ActionNameArabic], [MoveNext], [SuspendIn], [IsSpecial], [ForApplication_Id]) VALUES (3, N'Reject', 1, N'مرفوض', 1, 0, 0, NULL)
INSERT [dbo].[Actions] ([ActionID], [ActionName], [ActionInUSe], [ActionNameArabic], [MoveNext], [SuspendIn], [IsSpecial], [ForApplication_Id]) VALUES (5, N'Suspend', 1, N'معلق الي حين', 0, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationLink] ON 

INSERT [dbo].[ApplicationLink] ([ApplictionLinkId], [FromTApplicationLevelId], [ToApplicationLevelId], [templateId], [length], [InUse], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (41, 6161, 6162, N'rounded', 107.26124704025256, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[ApplicationLink] ([ApplictionLinkId], [FromTApplicationLevelId], [ToApplicationLevelId], [templateId], [length], [InUse], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (42, 6162, 6163, N'rounded', 182.27272727272725, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[ApplicationLink] ([ApplictionLinkId], [FromTApplicationLevelId], [ToApplicationLevelId], [templateId], [length], [InUse], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (43, 6163, 6164, N'rounded', 262.353591160221, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ApplicationLink] OFF
GO
SET IDENTITY_INSERT [dbo].[Application_Levels] ON 

SET IDENTITY_INSERT [dbo].[Application_Levels] OFF
GO
SET IDENTITY_INSERT [dbo].[Application_Requirement] ON 

INSERT [dbo].[Application_Requirement] ([Application_Requirement_Id], [Application_Level_Id], [Application_Id], [Archives_master_Id], [Column_Name_Value], [Tools_Id], [Is_Required], [Shared_Table_Id], [Application_Requirement_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [In_Start], [DisplaylinkId], [FixId], [FnRun], [DisplayIndex], [UseMin]) VALUES (8224, 6161, 3038, NULL, N'اسم النظام', 5, 0, 10, 1, CAST(N'2024-09-04T11:59:54.487' AS DateTime), 18, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Application_Requirement] ([Application_Requirement_Id], [Application_Level_Id], [Application_Id], [Archives_master_Id], [Column_Name_Value], [Tools_Id], [Is_Required], [Shared_Table_Id], [Application_Requirement_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [In_Start], [DisplaylinkId], [FixId], [FnRun], [DisplayIndex], [UseMin]) VALUES (8225, 6161, 3038, NULL, N'شرح المشكلة', 1, 0, NULL, 1, CAST(N'2024-09-04T12:05:37.140' AS DateTime), 18, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Application_Requirement] ([Application_Requirement_Id], [Application_Level_Id], [Application_Id], [Archives_master_Id], [Column_Name_Value], [Tools_Id], [Is_Required], [Shared_Table_Id], [Application_Requirement_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [In_Start], [DisplaylinkId], [FixId], [FnRun], [DisplayIndex], [UseMin]) VALUES (8226, 6161, 3038, NULL, N'مرفق', 11, 0, NULL, 1, CAST(N'2024-09-04T12:06:07.953' AS DateTime), 18, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Application_Requirement] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Application_Id], [Application_Name_Eng], [Application_Name_Ar], [Department_Id], [Section_Id], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [Application_In_Use], [SystemInfoId]) VALUES (3038, N'بلاغات البرامج  و الانظمة', N'بلاغات البرامج  و الانظمة', 35, NULL, CAST(N'2024-09-04T10:38:13.577' AS DateTime), N'12', NULL, NULL, 1, 1)
INSERT [dbo].[Applications] ([Application_Id], [Application_Name_Eng], [Application_Name_Ar], [Department_Id], [Section_Id], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [Application_In_Use], [SystemInfoId]) VALUES (3039, N'بلاغات امن المعلومات', N'بلاغات امن المعلومات', 39, NULL, CAST(N'2024-09-04T10:39:50.360' AS DateTime), N'12', NULL, NULL, 1, 1)
INSERT [dbo].[Applications] ([Application_Id], [Application_Name_Eng], [Application_Name_Ar], [Department_Id], [Section_Id], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [Application_In_Use], [SystemInfoId]) VALUES (3040, N'طلب فتح منفذ', N'طلب فتح منفذ', 39, NULL, CAST(N'2024-09-09T11:29:10.230' AS DateTime), N'12', NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[AttachmentsType] ON 

INSERT [dbo].[AttachmentsType] ([AttachTypeId], [AttachTypeName], [InUse]) VALUES (1, N'Certificate', 1)
INSERT [dbo].[AttachmentsType] ([AttachTypeId], [AttachTypeName], [InUse]) VALUES (2, N'National ID/Iqama', 1)
INSERT [dbo].[AttachmentsType] ([AttachTypeId], [AttachTypeName], [InUse]) VALUES (4, N'Family ID', 1)
SET IDENTITY_INSERT [dbo].[AttachmentsType] OFF
GO
SET IDENTITY_INSERT [dbo].[Check_List_Details] ON 

INSERT [dbo].[Check_List_Details] ([Check_List_Details_Id], [Application_Requirement_Id], [Request_ID], [Check_List_Value]) VALUES (1, 1006, 3011, 5)
INSERT [dbo].[Check_List_Details] ([Check_List_Details_Id], [Application_Requirement_Id], [Request_ID], [Check_List_Value]) VALUES (2, 1006, 3011, 6)
INSERT [dbo].[Check_List_Details] ([Check_List_Details_Id], [Application_Requirement_Id], [Request_ID], [Check_List_Value]) VALUES (3, 1006, 3012, 5)
SET IDENTITY_INSERT [dbo].[Check_List_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Department_Id], [DIVISIONID], [Department_Name_Eng], [STATUS_ID], [DEPT_CRE_UID], [DEPT_CRE_DATE], [Department_Name_Ar]) VALUES (35, 1, N'البرامج و الانظمة', 1, NULL, NULL, N'البرامج و الانظمة')
INSERT [dbo].[Department] ([Department_Id], [DIVISIONID], [Department_Name_Eng], [STATUS_ID], [DEPT_CRE_UID], [DEPT_CRE_DATE], [Department_Name_Ar]) VALUES (37, 1, N'الشبكات', 1, NULL, NULL, N'الشبكات')
INSERT [dbo].[Department] ([Department_Id], [DIVISIONID], [Department_Name_Eng], [STATUS_ID], [DEPT_CRE_UID], [DEPT_CRE_DATE], [Department_Name_Ar]) VALUES (39, 1, N'امن المعلومات', 1, NULL, NULL, N'امن المعلومات')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[DisplayLink] ON 

INSERT [dbo].[DisplayLink] ([DisplaylinkId], [DisplaylinkName], [DisplaylinkInUse], [DisplayFunction]) VALUES (1, N'Employee leaves', 1, N'EmpLeaves')
INSERT [dbo].[DisplayLink] ([DisplaylinkId], [DisplaylinkName], [DisplaylinkInUse], [DisplayFunction]) VALUES (2, N'Add Expense', 1, N'AddExpense')
INSERT [dbo].[DisplayLink] ([DisplaylinkId], [DisplaylinkName], [DisplaylinkInUse], [DisplayFunction]) VALUES (3, N'Requirement Order', 1, N'GetRequirementOrder')
SET IDENTITY_INSERT [dbo].[DisplayLink] OFF
GO
SET IDENTITY_INSERT [dbo].[Employe] ON 

SET IDENTITY_INSERT [dbo].[Employe] OFF
GO
SET IDENTITY_INSERT [dbo].[LinkCondation] ON 

INSERT [dbo].[LinkCondation] ([LinkCondationID], [ApplictionLinkId], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (1, 50, 1, 1, 0, NULL)
INSERT [dbo].[LinkCondation] ([LinkCondationID], [ApplictionLinkId], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (2, 49, 3, 1, 0, NULL)
INSERT [dbo].[LinkCondation] ([LinkCondationID], [ApplictionLinkId], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (3, 41, 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[LinkCondation] OFF
GO
SET IDENTITY_INSERT [dbo].[ManagerType] ON 

INSERT [dbo].[ManagerType] ([ManagerTypeID], [ManagerTypeName], [InUse]) VALUES (1, N'مدير الادارة', 1)
INSERT [dbo].[ManagerType] ([ManagerTypeID], [ManagerTypeName], [InUse]) VALUES (3, N'مدير الشعبة', 1)
INSERT [dbo].[ManagerType] ([ManagerTypeID], [ManagerTypeName], [InUse]) VALUES (4, N'المدير المباشر', 1)
SET IDENTITY_INSERT [dbo].[ManagerType] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationApp] ON 

INSERT [dbo].[NotificationApp] ([NotificationAppId], [NotificationAppName]) VALUES (1, N'HR System')
INSERT [dbo].[NotificationApp] ([NotificationAppId], [NotificationAppName]) VALUES (2, N'WorkFlow System')
SET IDENTITY_INSERT [dbo].[NotificationApp] OFF
GO
SET IDENTITY_INSERT [dbo].[RelativeType] ON 

INSERT [dbo].[RelativeType] ([Relative_TypeId], [RelativeTypeName]) VALUES (1, N'Spouse')
INSERT [dbo].[RelativeType] ([Relative_TypeId], [RelativeTypeName]) VALUES (2, N'Child')
INSERT [dbo].[RelativeType] ([Relative_TypeId], [RelativeTypeName]) VALUES (3, N'Parent')
SET IDENTITY_INSERT [dbo].[RelativeType] OFF
GO
SET IDENTITY_INSERT [dbo].[Request_Status] ON 

INSERT [dbo].[Request_Status] ([Request_Status_Id], [Request_Status_Eng], [Request_Status_Ar], [In_Start], [In_End]) VALUES (2, N'Pending', N'In Start', 1, 0)
INSERT [dbo].[Request_Status] ([Request_Status_Id], [Request_Status_Eng], [Request_Status_Ar], [In_Start], [In_End]) VALUES (4, N'In Process', N'في العمل', 0, 0)
INSERT [dbo].[Request_Status] ([Request_Status_Id], [Request_Status_Eng], [Request_Status_Ar], [In_Start], [In_End]) VALUES (5, N'Completed', N'في النهاية', 0, 1)
SET IDENTITY_INSERT [dbo].[Request_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Shared_Table] ON 

INSERT [dbo].[Shared_Table] ([Shared_Table_Id], [Shared_Table_Name], [Shared_Table_Column], [Shared_Table_Value], [Shared_Table_Name_displayed], [InUSe]) VALUES (1, N'Section', N'Section_Name_Eng', N'Section_Id', N'Sections', 1)
INSERT [dbo].[Shared_Table] ([Shared_Table_Id], [Shared_Table_Name], [Shared_Table_Column], [Shared_Table_Value], [Shared_Table_Name_displayed], [InUSe]) VALUES (3, N'Department', N'Department_Name_Eng', N'Department_Id', N'Departments', 1)
INSERT [dbo].[Shared_Table] ([Shared_Table_Id], [Shared_Table_Name], [Shared_Table_Column], [Shared_Table_Value], [Shared_Table_Name_displayed], [InUSe]) VALUES (6, N'Employe', N'FIRSTNAME', N'Employe_Id', N'Employees', 1)
SET IDENTITY_INSERT [dbo].[Shared_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemInfo] ON 

INSERT [dbo].[SystemInfo] ([SystemInfoId], [SystemInfoName], [IsActive]) VALUES (1, N'البلاغات', 1)
INSERT [dbo].[SystemInfo] ([SystemInfoId], [SystemInfoName], [IsActive]) VALUES (3, N'حاضر', 1)
SET IDENTITY_INSERT [dbo].[SystemInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[TbApplication] ON 

INSERT [dbo].[TbApplication] ([TbApplicationId], [TbApplicationName], [TbApplicationInUse]) VALUES (2, N'نظام حاضر', 1)
INSERT [dbo].[TbApplication] ([TbApplicationId], [TbApplicationName], [TbApplicationInUse]) VALUES (3, N'نظام البلاغات', 1)
SET IDENTITY_INSERT [dbo].[TbApplication] OFF
GO
SET IDENTITY_INSERT [dbo].[Tools] ON 

INSERT [dbo].[Tools] ([Tools_Id], [Tool_Name], [Tool_In_Use], [From_DataBase], [Img_Url], [Tool_value]) VALUES (1, N'Text Box', 1, 0, NULL, N'text')
INSERT [dbo].[Tools] ([Tools_Id], [Tool_Name], [Tool_In_Use], [From_DataBase], [Img_Url], [Tool_value]) VALUES (2, N'Number', 1, 0, NULL, N'number')
INSERT [dbo].[Tools] ([Tools_Id], [Tool_Name], [Tool_In_Use], [From_DataBase], [Img_Url], [Tool_value]) VALUES (3, N'Date', 1, 0, NULL, N'date')
SET IDENTITY_INSERT [dbo].[Tools] OFF
GO
ALTER TABLE [dbo].[ApplicationLable]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLable_Application_Levels] FOREIGN KEY([FromApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLable] CHECK CONSTRAINT [FK_ApplicationLable_Application_Levels]
GO
ALTER TABLE [dbo].[ApplicationLable]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLable_Application_Levels1] FOREIGN KEY([ToApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLable] CHECK CONSTRAINT [FK_ApplicationLable_Application_Levels1]
GO
ALTER TABLE [dbo].[ApplicationLink]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLink_Application_Levels] FOREIGN KEY([FromTApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLink] CHECK CONSTRAINT [FK_ApplicationLink_Application_Levels]
GO
ALTER TABLE [dbo].[ApplicationLink]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLink_Application_Levels1] FOREIGN KEY([ToApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLink] CHECK CONSTRAINT [FK_ApplicationLink_Application_Levels1]
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationProcuderDetail_Application_Levels] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail] CHECK CONSTRAINT [FK_ApplicationProcuderDetail_Application_Levels]
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationProcuderDetail_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail] CHECK CONSTRAINT [FK_ApplicationProcuderDetail_Application_Requirement]
GO
ALTER TABLE [dbo].[Application_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Application_Level_Assigned_Application_Level_Assigned] FOREIGN KEY([Application_Level_Assigned_Id])
REFERENCES [dbo].[Application_Level_Assigned] ([Application_Level_Assigned_Id])
GO
ALTER TABLE [dbo].[Application_Level_Assigned] CHECK CONSTRAINT [FK_Application_Level_Assigned_Application_Level_Assigned]
GO
ALTER TABLE [dbo].[Application_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Application_Level_Assigned_Application_Levels] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[Application_Level_Assigned] CHECK CONSTRAINT [FK_Application_Level_Assigned_Application_Levels]
GO
ALTER TABLE [dbo].[Application_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Application_Level_Assigned_Employe] FOREIGN KEY([Assigned_To_Emp_Id])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Application_Level_Assigned] CHECK CONSTRAINT [FK_Application_Level_Assigned_Employe]
GO
ALTER TABLE [dbo].[Application_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Application_Level_Assigned_ManagerType] FOREIGN KEY([Assigned_To_Manager_Type_Id])
REFERENCES [dbo].[ManagerType] ([ManagerTypeID])
GO
ALTER TABLE [dbo].[Application_Level_Assigned] CHECK CONSTRAINT [FK_Application_Level_Assigned_ManagerType]
GO
ALTER TABLE [dbo].[Application_Levels]  WITH CHECK ADD  CONSTRAINT [FK_Application_Levels_Applications1] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Applications] ([Application_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Application_Levels] CHECK CONSTRAINT [FK_Application_Levels_Applications1]
GO
ALTER TABLE [dbo].[Application_Levels]  WITH CHECK ADD  CONSTRAINT [FK_Application_Levels_Archives_master] FOREIGN KEY([Archives_master_Id])
REFERENCES [dbo].[Archives_master] ([Archives_master_Id])
GO
ALTER TABLE [dbo].[Application_Levels] CHECK CONSTRAINT [FK_Application_Levels_Archives_master]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Application_Levels] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Application_Levels]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Applications1] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Applications] ([Application_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Applications1]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Archives_master] FOREIGN KEY([Archives_master_Id])
REFERENCES [dbo].[Archives_master] ([Archives_master_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Archives_master]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_DisplayLink] FOREIGN KEY([DisplaylinkId])
REFERENCES [dbo].[DisplayLink] ([DisplaylinkId])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_DisplayLink]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Shared_Table] FOREIGN KEY([Shared_Table_Id])
REFERENCES [dbo].[Shared_Table] ([Shared_Table_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Shared_Table]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Tools] FOREIGN KEY([Tools_Id])
REFERENCES [dbo].[Tools] ([Tools_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Tools]
GO
ALTER TABLE [dbo].[Application_Requirement_Details]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Details_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[Application_Requirement_Details] CHECK CONSTRAINT [FK_Application_Requirement_Details_Application_Requirement]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Department]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Section] FOREIGN KEY([Section_Id])
REFERENCES [dbo].[Section] ([Section_Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Section]
GO
ALTER TABLE [dbo].[Archives_master]  WITH CHECK ADD  CONSTRAINT [FK_Archives_master_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Archives_master] CHECK CONSTRAINT [FK_Archives_master_Department]
GO
ALTER TABLE [dbo].[AttachmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentDetail_AttachmentMaster] FOREIGN KEY([AttachmentId])
REFERENCES [dbo].[AttachmentMaster] ([AttachmentId])
GO
ALTER TABLE [dbo].[AttachmentDetail] CHECK CONSTRAINT [FK_AttachmentDetail_AttachmentMaster]
GO
ALTER TABLE [dbo].[AttachmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentDetail_Employe] FOREIGN KEY([Cr_EmpId])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[AttachmentDetail] CHECK CONSTRAINT [FK_AttachmentDetail_Employe]
GO
ALTER TABLE [dbo].[AttachmentMaster]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentMaster_Employe] FOREIGN KEY([Cr_EmpID])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[AttachmentMaster] CHECK CONSTRAINT [FK_AttachmentMaster_Employe]
GO
ALTER TABLE [dbo].[DepManager]  WITH CHECK ADD  CONSTRAINT [FK_DepManager_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[DepManager] CHECK CONSTRAINT [FK_DepManager_Department]
GO
ALTER TABLE [dbo].[DepManager]  WITH CHECK ADD  CONSTRAINT [FK_DepManager_Employe] FOREIGN KEY([Employe_Id])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[DepManager] CHECK CONSTRAINT [FK_DepManager_Employe]
GO
ALTER TABLE [dbo].[LinkCondation]  WITH CHECK ADD  CONSTRAINT [FK_LinkCondation_Actions] FOREIGN KEY([ActionID])
REFERENCES [dbo].[Actions] ([ActionID])
GO
ALTER TABLE [dbo].[LinkCondation] CHECK CONSTRAINT [FK_LinkCondation_Actions]
GO
ALTER TABLE [dbo].[LinkCondation]  WITH CHECK ADD  CONSTRAINT [FK_LinkCondation_ApplicationLink] FOREIGN KEY([ApplictionLinkId])
REFERENCES [dbo].[ApplicationLink] ([ApplictionLinkId])
GO
ALTER TABLE [dbo].[LinkCondation] CHECK CONSTRAINT [FK_LinkCondation_ApplicationLink]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Employe] FOREIGN KEY([CrEmpID])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Employe]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_NotificationApp] FOREIGN KEY([NotificationAppId])
REFERENCES [dbo].[NotificationApp] ([NotificationAppId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_NotificationApp]
GO
ALTER TABLE [dbo].[Notifier]  WITH CHECK ADD  CONSTRAINT [FK_Notifier_Employe] FOREIGN KEY([EmpId])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Notifier] CHECK CONSTRAINT [FK_Notifier_Employe]
GO
ALTER TABLE [dbo].[Notifier]  WITH CHECK ADD  CONSTRAINT [FK_Notifier_Notification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([NotificationId])
GO
ALTER TABLE [dbo].[Notifier] CHECK CONSTRAINT [FK_Notifier_Notification]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Applications] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Applications] ([Application_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Applications]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_EMPINFO] FOREIGN KEY([Assigned_From_Emp_Id])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_EMPINFO]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Request_Status] FOREIGN KEY([Request_Status_Id])
REFERENCES [dbo].[Request_Status] ([Request_Status_Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Request_Status]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Application_Requirement]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Application_Requirement_Details] FOREIGN KEY([S_Application_Req_Details_Id])
REFERENCES [dbo].[Application_Requirement_Details] ([Application_Req_Details_Id])
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Application_Requirement_Details]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Request] FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Request]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Request_Level] FOREIGN KEY([Request_Level_Id])
REFERENCES [dbo].[Request_Level] ([Request_Level_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Request_Level]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Shared_Table] FOREIGN KEY([S_Shared_Table_Id])
REFERENCES [dbo].[Shared_Table] ([Shared_Table_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Shared_Table]
GO
ALTER TABLE [dbo].[Request_Details_Attach]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Attach_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[Request_Details_Attach] CHECK CONSTRAINT [FK_Request_Details_Attach_Application_Requirement]
GO
ALTER TABLE [dbo].[Request_Details_Attach]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Attach_Request_Level] FOREIGN KEY([Request_Level_Id])
REFERENCES [dbo].[Request_Level] ([Request_Level_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details_Attach] CHECK CONSTRAINT [FK_Request_Details_Attach_Request_Level]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Application_Levels] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_Application_Levels]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_EMPINFO] FOREIGN KEY([Assigned_To_Emp_Id])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_EMPINFO]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_EMPINFO1] FOREIGN KEY([Conversion_To_Emp_Id])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_EMPINFO1]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Request] FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_Request]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Request_Details_Status] FOREIGN KEY([Request_Details_Status_Id])
REFERENCES [dbo].[Request_Details_Status] ([Request_Details_Status_Id])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_Request_Details_Status]
GO
ALTER TABLE [dbo].[Request_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Request_Emp] FOREIGN KEY([Assigned_To_UserID])
REFERENCES [dbo].[Employe] ([Employe_Id])
GO
ALTER TABLE [dbo].[Request_Level_Assigned] CHECK CONSTRAINT [FK_Request_Emp]
GO
ALTER TABLE [dbo].[Request_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Assigned_Request_Level] FOREIGN KEY([Request_Level_Id])
REFERENCES [dbo].[Request_Level] ([Request_Level_Id])
GO
ALTER TABLE [dbo].[Request_Level_Assigned] CHECK CONSTRAINT [FK_Request_Level_Assigned_Request_Level]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_DEPARTMENT] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_DEPARTMENT]
GO
/****** Object:  StoredProcedure [dbo].[PrAddAppLevel]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PrAddAppLevel]
@TBAppLevel TBAppLevel READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM   @TBAppLevel;
END

GO
/****** Object:  StoredProcedure [dbo].[Pr_Shared_Tabel_Data]    Script Date: 9/10/2024 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Pr_Shared_Tabel_Data]
	-- Add the parameters for the stored procedure here

	@SharedTableId int
AS

BEGIN
Declare @Ftable As table(DropIdTable int identity(1,1) primary key, Drop_Name Nvarchar(max),Drop_Id Nvarchar(max), Shared_Table_Id int);
	SET NOCOUNT ON;
DECLARE @sqlCommand nvarchar(1000)
DECLARE @columnList varchar(75)
DECLARE @Table varchar(75)
DECLARE @insertTable varchar(75)
set @insertTable=N'@Ftable';
DECLARE @TableName varchar(75)

DECLARE @Column_Id varchar(75)
DECLARE @Column_Name varchar(75)

declare @Shared_Table_Id Nvarchar(max) 


DECLARE @oneid int -- or the appropriate type

DECLARE the_cursor CURSOR FAST_FORWARD
FOR SELECT Shared_Table_Id
    FROM Shared_Table

OPEN the_cursor
FETCH NEXT FROM the_cursor INTO @oneid

WHILE @@FETCH_STATUS = 0
BEGIN
  select top 1 @TableName=Shared_Table_Name,@Column_Name=Shared_Table_Column ,@Column_Id=Shared_Table_Value,@Shared_Table_Id=Shared_Table_Id from Shared_Table where   Shared_Table_Id= @oneid and InUSe=1

  SET @columnList = ''+ @Column_Name   +','+ @Column_Id  +','+ @Shared_Table_Id +''

set @Table='Tools'
SET @sqlCommand = N' SELECT ' + @columnList + ' FROM '+ @TableName 
--EXECUTE sp_executesql @sqlCommand, N'@Table nvarchar(max), @insertTable nvarchar(max) ', @Table =@Table ,@insertTable=@Ftable
INSERT INTO  @Ftable
exec (@sqlCommand)

    FETCH NEXT FROM the_cursor INTO @oneid
END

CLOSE the_cursor
DEALLOCATE the_cursor

select * from @Ftable where Shared_Table_Id= @SharedTableId;

END

GO
USE [master]
GO
