/*
   Saturday, September 14, 202410:02:00 AM
   User: 
   Server: .
   Database: WorkFlow2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Application_Levels SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Application_Levels', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Application_Levels', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Application_Levels', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Application_Level_Assigned
	DROP CONSTRAINT FK_Application_Level_Assigned_Application_Level_Assigned
GO
ALTER TABLE dbo.Application_Level_Assigned ADD CONSTRAINT
	FK_Application_Level_Assigned_Application_Level_Assigned FOREIGN KEY
	(
	Application_Level_Id
	) REFERENCES dbo.Application_Levels
	(
	Application_Level_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Application_Level_Assigned ADD CONSTRAINT
	FK_Application_Level_Assigned_Application_Level_Assigned1 FOREIGN KEY
	(
	Application_Level_Assigned_Id
	) REFERENCES dbo.Application_Level_Assigned
	(
	Application_Level_Assigned_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Application_Level_Assigned SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Application_Level_Assigned', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Application_Level_Assigned', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Application_Level_Assigned', 'Object', 'CONTROL') as Contr_Per 