/*
   Saturday, September 14, 202410:09:13 AM
   User: 
   Server: .
   Database: WorkFlow2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Application_Levels
	DROP CONSTRAINT FK_Application_Levels_Applications1
GO
ALTER TABLE dbo.Applications SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Applications', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Applications', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Applications', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Request_Level
	DROP CONSTRAINT FK_Request_Level_Application_Levels
GO
ALTER TABLE dbo.ApplicationProcuderDetail
	DROP CONSTRAINT FK_ApplicationProcuderDetail_Application_Levels
GO
ALTER TABLE dbo.ApplicationLable
	DROP CONSTRAINT FK_ApplicationLable_Application_Levels1
GO
ALTER TABLE dbo.ApplicationLink
	DROP CONSTRAINT FK_ApplicationLink_Application_Levels
GO
ALTER TABLE dbo.ApplicationLink
	DROP CONSTRAINT FK_ApplicationLink_Application_Levels1
GO
ALTER TABLE dbo.Application_Levels ADD CONSTRAINT
	FK_Application_Levels_Applications FOREIGN KEY
	(
	Application_Id
	) REFERENCES dbo.Applications
	(
	Application_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.Application_Levels SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Application_Levels', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Application_Levels', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Application_Levels', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.ApplicationLink ADD CONSTRAINT
	FK_ApplicationLink_ApplicationFromLink FOREIGN KEY
	(
	FromTApplicationLevelId
	) REFERENCES dbo.Application_Levels
	(
	Application_Level_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ApplicationLink ADD CONSTRAINT
	FK_ApplicationLink_Application_LevelsToLink FOREIGN KEY
	(
	ToApplicationLevelId
	) REFERENCES dbo.Application_Levels
	(
	Application_Level_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ApplicationLink SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ApplicationLink', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ApplicationLink', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ApplicationLink', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.ApplicationLable ADD CONSTRAINT
	FK_ApplicationLable_ApplicationToLable FOREIGN KEY
	(
	ToApplicationLevelId
	) REFERENCES dbo.Application_Levels
	(
	Application_Level_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ApplicationLable SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ApplicationLable', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ApplicationLable', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ApplicationLable', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.ApplicationProcuderDetail ADD CONSTRAINT
	FK_ApplicationProcuderDetailPr FOREIGN KEY
	(
	Application_Level_Id
	) REFERENCES dbo.Application_Levels
	(
	Application_Level_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.ApplicationProcuderDetail SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ApplicationProcuderDetail', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ApplicationProcuderDetail', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ApplicationProcuderDetail', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Request_Level ADD CONSTRAINT
	FK_Request_Level_ApplicationRequest FOREIGN KEY
	(
	Application_Level_Id
	) REFERENCES dbo.Application_Levels
	(
	Application_Level_Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Request_Level SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Request_Level', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Request_Level', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Request_Level', 'Object', 'CONTROL') as Contr_Per 