/*
   Saturday, September 14, 202411:34:30 AM
   User: 
   Server: .
   Database: WorkFlow2
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.SharedTableData
	(
	DropIdTable int NOT NULL,
	Drop_Name nvarchar(50) NULL,
	Drop_Id int NULL,
	Shared_Table_Id int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.SharedTableData ADD CONSTRAINT
	PK_SharedTableData PRIMARY KEY CLUSTERED 
	(
	DropIdTable
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.SharedTableData SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.SharedTableData', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.SharedTableData', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.SharedTableData', 'Object', 'CONTROL') as Contr_Per 