USE [WorkFlow2]
GO
/****** Object:  UserDefinedTableType [dbo].[TBAppLevel]    Script Date: 9/1/2024 3:12:41 PM ******/
CREATE TYPE [dbo].[TBAppLevel] AS TABLE(
	[ApplicationId] [int] NULL,
	[Application_Level_Id] [int] NULL,
	[NodeID] [nvarchar](max) NULL,
	[Application_Level_Name] [nvarchar](max) NULL,
	[Column_Name_Value] [nvarchar](max) NULL,
	[Tools_Id] [nvarchar](max) NULL,
	[Is_Required] [nvarchar](max) NULL,
	[Shared_Table_Id] [nvarchar](max) NULL,
	[DisplaylinkId] [nvarchar](max) NULL
)
GO
/****** Object:  StoredProcedure [dbo].[PrAddAppLevel]    Script Date: 9/1/2024 3:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PrAddAppLevel]
@TBAppLevel TBAppLevel READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SELECT *
    FROM   @TBAppLevel;
END

GO
/****** Object:  StoredProcedure [dbo].[Pr_Shared_Tabel_Data]    Script Date: 9/1/2024 3:12:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Pr_Shared_Tabel_Data]
	-- Add the parameters for the stored procedure here

	@SharedTableId int
AS

BEGIN
Declare @Ftable As table(DropIdTable int identity(1,1) primary key, Drop_Name Nvarchar(max),Drop_Id Nvarchar(max), Shared_Table_Id int);
	SET NOCOUNT ON;
DECLARE @sqlCommand nvarchar(1000)
DECLARE @columnList varchar(75)
DECLARE @Table varchar(75)
DECLARE @insertTable varchar(75)
set @insertTable=N'@Ftable';
DECLARE @TableName varchar(75)

DECLARE @Column_Id varchar(75)
DECLARE @Column_Name varchar(75)

declare @Shared_Table_Id Nvarchar(max) 


DECLARE @oneid int -- or the appropriate type

DECLARE the_cursor CURSOR FAST_FORWARD
FOR SELECT Shared_Table_Id
    FROM Shared_Table

OPEN the_cursor
FETCH NEXT FROM the_cursor INTO @oneid

WHILE @@FETCH_STATUS = 0
BEGIN
  select top 1 @TableName=Shared_Table_Name,@Column_Name=Shared_Table_Column ,@Column_Id=Shared_Table_Value,@Shared_Table_Id=Shared_Table_Id from Shared_Table where   Shared_Table_Id= @oneid and InUSe=1

  SET @columnList = ''+ @Column_Name   +','+ @Column_Id  +','+ @Shared_Table_Id +''

set @Table='Tools'
SET @sqlCommand = N' SELECT ' + @columnList + ' FROM '+ @TableName 
--EXECUTE sp_executesql @sqlCommand, N'@Table nvarchar(max), @insertTable nvarchar(max) ', @Table =@Table ,@insertTable=@Ftable
INSERT INTO  @Ftable
exec (@sqlCommand)

    FETCH NEXT FROM the_cursor INTO @oneid
END

CLOSE the_cursor
DEALLOCATE the_cursor

select * from @Ftable where Shared_Table_Id= @SharedTableId;

END

GO
